name: CI to Docker Hub

on:
  push:
    branches: [ "main" ] # Only runs when you push to the main branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Health Check
        run: |
          chmod +x status_check.sh
          ./status_check.sh

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Replace 'your-repo-name' with your actual Docker Hub repo name
          tags: vipdevops9900/my-devops-apps:latest